<div class="container">
  <!-- Loop through 'postData' and display each post -->
  {{#each postData}}
    <div class="card">
      <div class="card-header">
        <!-- Display post title -->
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        <!-- Provide a link to read the full post -->
        <a href="/post/{{id}}">Read More...</a>
      </div>
      <div class="card-footer">
        <p class="card-text">
          <!-- Display post creator and creation date -->
          <strong>Created by:</strong> {{user.username}}
          <strong>Created on:</strong> {{format_date createdAt}}
        </p>
      </div>
    </div>
  {{/each}}
</div>
