/* Styling for the .fa-pen-to-square class */
.fa-pen-to-square {
  color: whitesmoke;
  font-size: 1.5rem;
}

/* Styling for the .footer-icons class */
.footer-icons {
  font-size: 1.2rem;
  justify-content: center;
  gap: 20vw; /* Adjusted the gap value for better readability */
}

/* Styling for elements with the .comments class */
.comments {
  gap: 10vw; /* Adjusted the gap value for better readability */
  min-height: 20px;
}

:root {
  --primary-color: #607d8b; /* Blue-gray as the primary color */
  --secondary-color: #37474f; /* A darker shade of blue-gray for accents */
  --background-color: #f5f5f5; /* Light gray background */
  --text-color: #333; /* Dark text color on light background */
}

/* Header Section */
header {
  background-color: var(--primary-color);
  color: #fff; /* White text color for header */
}

/* Links in the Main Content */
a {
  color: var(--primary-color); /* Blue-gray links */
}

/* Link Hover Color in the Main Content */
a:hover {
  color: var(--secondary-color); /* Darker blue-gray on hover */
}

.btn:hover {
  background-color: var(--primary-color);
}

.blog-bg {
  background-color: var(--secondary-color);
}

.card {
  margin-bottom: 1rem;
}

.card-title {
  padding: 1rem;
}

textarea {
  margin-bottom: 1rem;
}

